*

!/.gitattributes
!/.gitconfig
!/.gitignore

!/.LICENSE.txt
!/.README.md

!/.appdata/

!/.bash_profile
!/.bash_utils/
!/.bashrc
!/.inputrc
!/.profile

!/.fonts.conf

!/.minttyrc

!/.pythonrc

!/.vimrc
!/.vimtmp/
