# Enable using: systemd --user enable ssh-agent
# Start immediately using: systemd --user start ssh-agent
# Make sure SSH_AUTH_SOCK is set to "$XDG_RUNTIME_DIR/ssh-agent.socket".
# You can do this by adding it to ~/.profile (the usual way) or
# ~/.pam_environment:
# * "SSH_AUTH_SOCK DEFAULT=${XDG_RUNTIME_DIR}/ssh-agent.socket", or, if it
#   doesn't work,
# * "SSH_AUTH_SOCK DEFAULT=/run/user/1000/ssh-agent.socket" (replace "1000"
#   with your UID.

[Unit]
Description=OpenSSH agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a "$SSH_AUTH_SOCK"

[Install]
WantedBy=default.target
