[user]
	name = Egor Tensin
	email = Egor.Tensin@gmail.com
[core]
	editor = vim
	autocrlf = true
[push]
	default = current
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
[mergetool]
	keepBackup = false
[diff]
	tool = kdiff3
[difftool]
	keepBackup = false
[difftool "kdiff3"]
	trustExitCode = false
[pull]
	ff = only
[alias]
	clean-all = clean -fdx
	clean-ignored = clean -fdX
	clean-unknown = clean -fd
	l = log --oneline
	wdiff = diff --word-diff
	xx = update-index --chmod=+x
[fetch]
	prune = true
